{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/bebrilli.myshopify.com/globals/configure/95606/edit
{% endcomment %}
{% if shop.metafields.custom_fields["product_trio_grid"] != blank %}
  <div class="custom-field custom-field__product-trio-grid custom-field__type--field-collection">
    <h3 class="custom-field--title">Product Trio Grid</h3>
    <div class="custom-field--value">
      {% assign separator = "|###|" %}
      {% assign trio_item_title_array = shop.metafields.custom_fields["trio_item_title"] | split: separator %}
      {% assign trio_item_description_array = shop.metafields.custom_fields["trio_item_description"] | split: separator %}
      {% assign trio_item_button_label_array = shop.metafields.custom_fields["trio_item_button_label"] | split: separator %}
      {% assign trio_item_url_array = shop.metafields.custom_fields["trio_item_url"] | split: separator %}
      {% assign fc_keys = shop.metafields.custom_fields["product_trio_grid"] | split: "," %}
      {% for i in fc_keys %}
        {% assign index = i | plus: 0 %}
        <div class="fc-item fc-item-- fc-index--{{ index }}">
          <div class="fc-field field__trio-item-title">
            {{ trio_item_title_array[index] }}
          </div>
          <div class="fc-field field__trio-item-description">
            {{ trio_item_description_array[index] }}
          </div>
          <div class="fc-field field__trio-item-button-label">
            {{ trio_item_button_label_array[index] }}
          </div>
          <div class="fc-field field__trio-item-url">
            {{ trio_item_url_array[index] }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}