<div id="content" role="main" class="Account">
  <a class="text-link back MyAccountBtn" href="/account">{{ 'customer.account.return' | t }}</a>
  <div class="inner">
      <div data-address>
        <div data-address-form class="AddressForm new">

          <div class="AccountTitle">
            <h1>{{ 'customer.addresses.add' | t }}</h1>
          </div>

          {% form 'customer_address', customer.new_address %}
            
            <div class="error-wrap">{{ form.errors | default_errors }}</div>  

            <div class="field-group">
              <fieldset>
                <label for="AddressFirstNameNew" class="label-hidden">
                  {{ 'customer.addresses.first_name' | t }}
                </label>
                <input type="text"
                      name="address[first_name]"
                      id="AddressFirstNameNew"
                      value="{{ form.first_name }}"
                      placeholder="{{ 'customer.addresses.first_name' | t }}" 
                      autocapitalize="words"
                      required>
              </fieldset>
              <fieldset>
                <label for="AddressLastNameNew" class="label-hidden">
                  {{ 'customer.addresses.last_name' | t }}
                </label>
                <input type="text"
                      name="address[last_name]"
                      id="AddressLastNameNew"a
                      value="{{ form.last_name }}"
                      placeholder="{{ 'customer.addresses.last_name' | t }}" 
                      autocapitalize="words"
                      required>
              </fieldset>
            </div>

            <fieldset>
              <label for="AddressCompanyNew" class="label-hidden">
                {{ 'customer.addresses.company' | t }}
              </label>
              <input type="text"
                    name="address[company]"
                    id="AddressCompanyNew"
                    value="{{ form.company }}"
                    placeholder="{{ 'customer.addresses.company' | t }}" 
                    autocapitalize="words">
            </fieldset>

            <fieldset>
              <label for="AddressAddress1New" class="label-hidden">
                {{ 'customer.addresses.address1' | t }}
              </label>
              <input type="text"
                    name="address[address1]"
                    id="AddressAddress1New"
                    value="{{ form.address1 }}"
                    placeholder="{{ 'customer.addresses.address1' | t }}" 
                    autocapitalize="words"
                    required>
            </fieldset>

            <fieldset>
              <label for="AddressAddress2New" class="label-hidden">
                {{ 'customer.addresses.address2' | t }}
              </label>
              <input type="text"
                    name="address[address2]"
                    id="AddressAddress2New"
                    value="{{ form.address2 }}"
                    placeholder="{{ 'customer.addresses.address2' | t }}" 
                    autocapitalize="words">
            </fieldset>

            <fieldset>
              <label for="AddressCityNew" class="label-hidden">
                {{ 'customer.addresses.city' | t }}
              </label>
              <input type="text"
                    name="address[city]"
                    id="AddressCityNew"
                    value="{{ form.city }}"
                    placeholder="{{ 'customer.addresses.city' | t }}" 
                    autocapitalize="words"
                    required>
            </fieldset>

            <div class="hide">
              <fieldset>
                <label for="AddressCountryNew" class="label-hidden">
                  {{ 'customer.addresses.country' | t }}
                </label>  

                <div class="select-holder">
                  <input type="hidden" data-address-country
                    value="United States"
                    name="address[country]"
                    id="AddressCountryNew"
                    data-default="{{ form.country }}">
                  </select>
                </div>
              </fieldset>
            </div >
            

            <div class="field-group">
              <fieldset>
                <div data-address-province-wrapper>
                  <label for="AddressProvinceNew" class="label-hidden">
                    {{ 'customer.addresses.province' | t }}
                  </label>
                  <div class="select-holder">
                    {% include 'states' %}
                  </div>
                </div>
              </fieldset>

              <fieldset>
                <label for="AddressZipNew" class="label-hidden">
                  {{ 'customer.addresses.zip' | t }}
                </label>
                <input type="text"
                      name="address[zip]"
                      id="AddressZipNew"
                      value="{{ form.zip }}"
                      placeholder="{{ 'customer.addresses.zip' | t }}" 
                      autocapitalize="characters"
                      required>
              </fieldset>
            </div>

            <fieldset>
              <label for="AddressPhoneNew" class="label-hidden">
                {{ 'customer.addresses.phone' | t }}
              </label>
              <input type="tel"
                    name="address[phone]"
                    id="AddressPhoneNew"
                    value="{{ form.phone }}"
                    placeholder="{{ 'customer.addresses.phone' | t }}" 
                    pattern="(?:\(\d{3}\)|\d{3})[- ]?\d{3}[- ]?\d{4}">
            </fieldset>

            <fieldset>
              <label for="address_default_address_{{ form.id }}">
                {{ form.set_as_default_checkbox }}
                {{ 'customer.addresses.set_default' | t }}
              </label>
            </fieldset>

            <div class="form-actions">
              <p>* Required Field</p>
              <button class="button outline large light" type="submit">{{ 'customer.addresses.submit' | t }}</button>
            </div>
          {% endform %}
        </div>
      </div>


      {% for address in customer.addresses %}

        <div data-address>
          <div data-address-form class="AddressForm hide" id="{{address.id}}">
            {% form 'customer_address', address %}

            <div class="AccountTitle">
              <h1>{{ 'customer.addresses.update' | t }}</h1>
            </div>

            <div class="error-wrap">{{ form.errors | default_errors }}</div>  

            <div class="field-group">
              <fieldset>
                <label for="AddressFirstName_{{ form.id }}" class="label-hidden">
                  {{ 'customer.addresses.first_name' | t }}
                </label>
                <input type="text"
                      name="address[first_name]"
                      id="AddressFirstName_{{ form.id }}"
                      value="{{ form.first_name }}"
                      placeholder="{{ 'customer.addresses.first_name' | t }}"
                      autocapitalize="words">
              </fieldset>                    

              <fieldset>
                <label for="AddressLastName_{{ form.id }}" class="label-hidden">
                  {{ 'customer.addresses.last_name' | t }}
                </label>
                <input type="text"
                      name="address[last_name]"
                      id="AddressLastName_{{ form.id }}"
                      value="{{ form.last_name }}"
                      placeholder="{{ 'customer.addresses.last_name' | t }}"
                      autocapitalize="words">
              </fieldset>
            </div>

            <fieldset>
              <label for="AddressCompany_{{ form.id }}" class="label-hidden">
                {{ 'customer.addresses.company' | t }}
              </label>
              <input type="text"
                    name="address[company]"
                    id="AddressCompany_{{ form.id }}"
                    value="{{ form.company }}"
                    placeholder="{{ 'customer.addresses.company' | t }}"
                    autocapitalize="words">
            </fieldset>

            <fieldset>
              <label for="AddressAddress1_{{ form.id }}" class="label-hidden">
                {{ 'customer.addresses.address1' | t }}
              </label>
              <input type="text"
                    name="address[address1]"
                    id="AddressAddress1_{{ form.id }}"
                    value="{{ form.address1 }}"
                    placeholder="{{ 'customer.addresses.address1' | t }}"
                    autocapitalize="words">
            </fieldset>


            <fieldset>
              <label for="AddressAddress2_{{ form.id }}" class="label-hidden">
                {{ 'customer.addresses.address2' | t }}
              </label>
              <input type="text"
                    name="address[address2]"
                    id="AddressAddress2_{{ form.id }}"
                    value="{{ form.address2 }}"
                    placeholder="{{ 'customer.addresses.address2' | t }}"
                    autocapitalize="words">
            </fieldset>

            <fieldset>
              <label for="AddressCity_{{ form.id }}" class="label-hidden">
                {{ 'customer.addresses.city' | t }}
              </label>
              <input type="text"
                    name="address[city]"
                    id="AddressCity_{{ form.id }}"
                    value="{{ form.city }}"
                    placeholder="{{ 'customer.addresses.city' | t }}"
                    autocapitalize="words">
            </fieldset>

            <div class="hide">  
              <fieldset>    
                <label for="AddressCountry_{{ form.id }}" class="label-hidden">
                  {{ 'customer.addresses.country' | t }}
                </label>
                <div class="select-holder">
                  <input type="hidden" value="United States" data-address-country
                    name="address[country]"
                    id="AddressCountry_{{ form.id }}"
                    class="address-country-option"
                    data-form-id="{{ form.id }}"
                    data-default="{{ form.country }}"/>
                </div>
              </fieldset>
            </div>

            <div class="field-group">
              <fieldset>
                <div id="AddressProvinceContainer_{{ form.id }}" data-address-province-wrapper>
                  <label for="AddressProvince_{{ form.id }}" class="label-hidden">
                    {{ 'customer.addresses.province' | t }}
                  </label>
                  <div class="select-holder">
                    {% include 'states' %}
                  </div>
                </div>
              </fieldset>

              <fieldset>
                <label for="AddressZip_{{ form.id }}" class="label-hidden">
                  {{ 'customer.addresses.zip' | t }}
                </label>
                <input type="text"
                      name="address[zip]"
                      id="AddressZip_{{ form.id }}"
                      value="{{ form.zip }}"
                      placeholder="{{ 'customer.addresses.zip' | t }}"
                      autocapitalize="characters">
              </fieldset>
            </div>

            <fieldset>
              <label for="AddressPhone_{{ form.id }}" class="label-hidden">
                {{ 'customer.addresses.phone' | t }}
              </label>
              <input type="tel"
                    name="address[phone]"
                    id="AddressPhone_{{ form.id }}"
                    value="{{ form.phone }}"
                    placeholder="{{ 'customer.addresses.phone' | t }}"
                    pattern="(?:\(\d{3}\)|\d{3})[- ]?\d{3}[- ]?\d{4}">
            </fieldset>

            <fieldset>
              <label for="address_default_address_{{ form.id }}">
                {{ form.set_as_default_checkbox }}
                {{ 'customer.addresses.set_default' | t }}
              </label>
            </fieldset>

            <div class="form-actions">
              <p>* Required Field</p>
              <button class="button outline large light" type="submit">{{ 'customer.addresses.submit' | t }}</button>
            </div>

            {% endform %}

          </div>
        </div>
      {% endfor %}
  </div>
</div>