<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
<head>
  {% include 'head' %}
  {{ content_for_header }}
</head>

{%- assign announcement_class = blank -%}
{%- if settings.announcement_bar_enabled -%}
  {%- if settings.announcement_bar_home_page_only == false or template.name == 'index' -%}
    {%- assign announcement_class = "announcement-bar-active" -%}
  {%- endif -%}
{%- endif -%}

<body id="{{ page.handle }}" class="template-{{ template.name | handle }}-{{ template.suffix | handle }} {{ announcement_class }}">
  {% include 'gtm-body' %}
  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
  {% section 'header' %}
  <main role="main" id="MainContent">
    {{ content_for_layout }}
  </main>
  {% section 'newsletter-popup' %}
  {% include 'panel-click' %}
  {% include 'account-overlay' %}
  {% include 'cart-overlay' %}
  {% include 'swymSnippet' %}
  {% include 'special-offers' %}
</body>
</html>
