<section class="ScientificAdvisors" data-section-id="{{ section.id }}">
  <div class="inner">
    <div class="top-copy">
      {%- if section.settings.title != blank -%}
        <h2>{{ section.settings.title }}</h2>
      {%- endif -%}
      {%- if section.settings.text != blank -%}
        {{ section.settings.text }}
      {%- endif -%}
      {%- if section.settings.button_label != blank -%}
        <a href="{{ section.settings.button_url }}" class="button large outline">{{ section.settings.button_label }}</a>
      {%- endif -%}
    </div>
    <div class="advisor-list">
      {% assign separator = "|###|" %}
      {% assign scientific_advisors_title_array = shop.metafields.custom_fields["scientific_advisors_title"] | split: separator %}
      {% assign scientific_advisor_name_array = shop.metafields.custom_fields["scientific_advisor_name"] | split: separator %}
      {% assign scientific_advisors_descriptio_array = shop.metafields.custom_fields["scientific_advisors_descriptio"] | split: separator %}
      {% assign scientific_advisor_title_array = shop.metafields.custom_fields["scientific_advisor_title"] | split: separator %}
      {% assign scientific_advisor_description_array = shop.metafields.custom_fields["scientific_advisor_description"] | split: separator %}
      {% assign scientific_advisor_image_array = shop.metafields.custom_fields["scientific_advisor_image"] | split: separator %}
      {% assign fc_keys = shop.metafields.custom_fields["scientific_advisors"] | split: "," %}
      {% for i in fc_keys %}
        {% assign index = i | plus: 0 %}
        <div class="ScientificAdvisor">
          <div class="card">
            <img src="{{ scientific_advisor_image_array[index] }}" alt="{{ scientific_advisors_title_array[index] }}" />
            <div class="text-wrap">
              <h3>{{ scientific_advisor_name_array[index] }}</h3>
              <h4>{{ scientific_advisor_title_array[index] }}</h4>
              {{ scientific_advisor_description_array[index] }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Scientific Advisors",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Talk about your brand"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label",
        "default": "Learn More"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button URL",
        "default": "/"
      }
    ],
    "presets": [{
        "name": "Scientific Advisors",
        "category": "Content"
    }]
  }
{% endschema %}
