<section class="image-with-text2 image-{{ section.settings.layout }} {{ section.settings.background-color }} " data-section-id="{{ section.id }}">
  <div class="inner">
    <div class="glow_bg"></div>
    {% if section.settings.image.src != blank %}
      <div class="image__image">
        <img src="{{ section.settings.image.src | img_url: 'original' }}" alt="{{ section.settings.title }}"/>
      </div>
    {% endif %}
    <div class="image-with-text__text">
      <div class="inner">
        {% if section.settings.title != blank %}
          <h2>{{ section.settings.title }}</h2>
        {% endif %}
        {% if section.settings.text != blank %}
          <div class="wysiwyg">{{ section.settings.text }}</div>
        {% endif %}
        {% if section.settings.button_label != blank and section.settings.button_link != blank %}
          <a href="{{ section.settings.button_link }}" class="button outline">
            {{ section.settings.button_label }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Image with text *new",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Image alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "background-color",
        "label": "Background color",
        "default": "white-bg",
        "options": [
          {
            "value": "white-bg",
            "label": "White"
          },
          {
            "value": "tan-bg",
            "label": "Tan"
          },
          {
            "value": "blue-bg",
            "label": "Blue"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "richtext",
        "id": "caption",
        "label": "Caption"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "text",
        "id": "custom_css_classes",
        "label": "Custom CSS Classes (Advanced)"
      }
    ],
    "presets": [
      {
        "name": "Image with text *new",
        "category": "Image"
      }
    ]
  }
{% endschema %}