{% if collection_ref != blank %}
<section class="ScientificAdvisors" data-section-id="{{ section.id }}">
  <div class="inner">
    <h2>{{ shop.metafields.custom_fields["scientific_advisors_tit"] }}</h2>
    {{ shop.metafields.custom_fields["scientific_advisors_desc"] }}
    <div class="advisor-list">
      {% assign separator = "|###|" %}
      {% assign scientific_advisors_title_array = shop.metafields.custom_fields["scientific_advisors_title"] | split: separator %}
      {% assign scientific_advisor_name_array = shop.metafields.custom_fields["scientific_advisor_name"] | split: separator %}
      {% assign scientific_advisors_descriptio_array = shop.metafields.custom_fields["scientific_advisors_descriptio"] | split: separator %}
      {% assign scientific_advisor_title_array = shop.metafields.custom_fields["scientific_advisor_title"] | split: separator %}
      {% assign scientific_advisor_description_array = shop.metafields.custom_fields["scientific_advisor_description"] | split: separator %}
      {% assign scientific_advisor_image_array = shop.metafields.custom_fields["scientific_advisor_image"] | split: separator %}
      {% assign fc_keys = shop.metafields.custom_fields["scientific_advisors"] | split: "," %}
      {% for i in fc_keys %}
        {% assign index = i | plus: 0 %}
        <div class="ScientificAdvisor">
          <img src="{{ scientific_advisor_image_array[index] }}" alt="{{ scientific_advisors_title_array[index] }}" />
          <div class="text-wrap">
            <h3>{{ scientific_advisor_name_array[index] }}</h3>
            <h4>{{ scientific_advisor_title_array[index] }}</h4>
            {{ scientific_advisor_description_array[index] }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}
