{% section 'hero-image-with-text-benefits' %}
<div class="page-body">
  <div class="TitleWrap">
    <div><h1>{{ page.title }}</h1></div>
    <div class="rte">
      {{ page.content }} 
    </div>
  </div>

  {% if page.metafields.custom_fields["benefits_of_brilli"] != blank %}
  <div class="content">
    <div class="BenefitsText">
      {% assign separator = "|###|" %}
      {% assign benefit_title_array = page.metafields.custom_fields["benefit_title"] | split: separator %}
      {% assign benefit_description_array = page.metafields.custom_fields["benefit_description"] | split: separator %}
      {% assign benefit_image_url_array = page.metafields.custom_fields["benefit_image_url"] | split: separator %}
      {% assign fc_keys = page.metafields.custom_fields["benefits_of_brilli"] | split: "," %}

      {% for i in fc_keys %}
        {% assign index = i | plus: 0 %}
        <div class="benefit-description benefit-description-{{ index }}">
          <div class="img-holder">
            <img src="{{ benefit_image_url_array[index] }}" alt="{{ benefit_title_array[index] }}"/>
          </div>
          <div class="text-holder">
            <h3>{{ benefit_title_array[index] }}</h3>
            <div class="field__benefit-description">
              {{ benefit_description_array[index] }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% include 'page-callout-block' %}
  </div>
  {% endif %}
</div>